doctype
html
  head
    meta(charset="utf-8")
    meta(name="description", content="Usertest for e-commerce team 2")
    meta(name="author", content="Stan van Oers")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Usertest e-commerce
    link(rel="stylesheet" href="css/default.css")
    script(src="js/script.js")
  body
    != yield