@font-face {
    font-family: "false";
    src: url("Proxima Nova Bold It.eot");
    src: url("Proxima Nova Bold It.eot?#iefix") format("embedded-opentype"),
         url("Proxima Nova Bold It.woff") format("woff"),
         url("Proxima Nova Bold It.ttf") format("truetype"),
         url("Proxima Nova Bold It.svg#false") format("svg");
    font-weight: false;
    font-style: false;
}