@font-face {
    font-family: "false";
    src: url("Proxima Nova Reg It.eot");
    src: url("Proxima Nova Reg It.eot?#iefix") format("embedded-opentype"),
         url("Proxima Nova Reg It.woff") format("woff"),
         url("Proxima Nova Reg It.ttf") format("truetype"),
         url("Proxima Nova Reg It.svg#false") format("svg");
    font-weight: false;
    font-style: false;
}